
/* General */

	* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    }

    .container-blk{
        background-color: black;
        height:100vh;
        width:100vw;
        overflow-y: hidden;
        overflow-x: hidden;
    }
        
/* Utility */

.flex {
    display: flex;
    flex-direction: row;
}

.space{
    justify-content: space-around;
}


/************** Header **************/

header {
    width:100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

header button{
    margin-right: 5px;
    background-color: grey;
    border-radius:15%;
    color:white;
    font-size: 0.8rem;
    padding: 1px 2px;
    text-align: center;
}

header button i{
    padding:3px;
}


/************** Main **************/

.thumbnailsgallery{
    display: flex;
    width:90%;
    margin: 30px auto;
    flex-wrap: wrap;
}

.thumbnail{
    width: 240px;
    position: relative;
    margin: 5px 3px;
}

.thumbnail div{
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 0;
    background-color: grey;
}

.thumbnail div h6{
    font-weight: 200;
    color: white;
    font-size: 0.9rem;
}

.thumbnail div h6:before{
    content: "\f131";
    font-weight: 900;
    font-family: "Font Awesome 5 free";
}


 #bottombar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#222222;
}

.buttona{
    padding: 15px 15px;
    height: 90px;
    width: 110px;
    line-height: 90px;
    font-size: small;
    color: white;
    background-color: transparent;
    border: none; 
    position: relative;
}

.buttona i:not(.right){
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50% , -20%);
    padding: 5px;
    font-size: 1.8rem;
}

.buttonexit{
    text-align: center;
    padding: 15px 15px;
    height: 100%;
    font-size: large;
    background-color: #4a4a4a;
    border: none;   
    color: red;
}

.buttona:hover{
    opacity: 0.7;
}

.buttonexit:hover{
    opacity: 0.7;
}

.gr{
    color: greenyellow;
}

.right{
    position:absolute;
    right: 0%;
    top: 40%;
}




