
/* General */

	* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    }

body {
    height:100vh;
    width:100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    }    

    .container-blk{
        background-color: black;
        height: 100vh;
        width: 100vw;
    }
        
/* Utility */



/************** Header **************/

header {
    width:100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

header button{
    margin-right: 5px;
    background-color: grey;
    border-radius:15%;
    color:white;
    font-size: 0.9rem;
    padding: 3px;
}

header button i{
    padding:3px;
}


/************** Main **************/

.thumbnailsgallery{
    display: flex;
    width:90%;
    margin: 30px auto;
    flex-wrap: wrap;
}

.thumbnail{
    width: 240px;
    position: relative;
    margin: 5px 3px;
}

.thumbnail div{
    display: inline-block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: grey;
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
}

.thumbnail div h6{
    font-weight: 200;
}

.thumbnail div h6:before{
    content: "\f131";
    font-family: "Font Awesome 5 free";
}




/************** Footer **************/

